.vscode/
.idea/
__pycache__/
**/*.pyc
.pytest_cache/
.mypy_cache/
.env
.venv/
.venv-rk/
.DS_Store

project/artifacts/*
!project/artifacts/.gitkeep

project/mlruns/*
!project/mlruns/.gitkeep

project/reports/figures/*
!project/reports/figures/.gitkeep

project/data/raw/*
!project/data/raw/.gitkeep
